.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: solid 2px gray;
  margin-top: 20px;
  background-color: white;
}
@media (min-width: 1000px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
  }
}
.title {
  text-align: center;
}
.priceContainer {
}
/* this media query is on porpouse  using max instead of the usual min*/

@media (max-width: 1000px) {
  .priceContainer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.link {
  text-decoration: none;
  color: #000;
}

.deleteIcon {
  height: 30px;
}
