.buttonContainer {
  width: 80px;
}
@media (min-width: 900px) {
  .buttonContainer {
    width: 110px;
  }
}
.button:hover {
  cursor: pointer;
  background-color: #686868;
}
.button {
  transition: 0.5s ease;
}
