.container {
  border: solid 2px;
  margin-top: 200px;
  height: 100vh;
}
@media (min-width: 900px) {
  .container {
    margin-top: 0;
  }
}

.sliderContainer {
  width: 300px;
  margin: 60px 40px 30px 40px;
}
@media (min-width: 800px) {
  .sliderContainer {
    width: 600px;
    margin: 0 auto;
  }
}
.imgContainer {
  width: 100%;
}

.img {
  width: 300px;
  object-fit: scale-down;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .img {
    width: 100%;
    max-height: 400px;
  }
}
