body {
  margin: 0;
}

.header {
  background-color: #686868;
  height: 140px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

@media (min-width: 900px) {
  .header {
    flex-direction: row;
    justify-content: center;
  }
}

.lowResolitionNavBar {
}

@media (min-width: 900px) {
  .lowResolitionNavBar {
    display: none;
  }
}

.hmbgMenu {
  display: flex;
  justify-content: end;
}

.highResolutionHeader {
  display: none;
}
@media (min-width: 900px) {
  .highResolutionHeader {
    width: 400px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
  }
}
.link:hover {
  color: black;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: bisque;
  transition: 0.7s ease;
}

.profile {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.home {
  margin-left: 10px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
@media (min-width: 900px) {
  .home {
    margin-left: 50px;
  }
}

.signUp {
  font-size: 20px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
@media (min-width: 900px) {
  .signUp {
    margin-right: 50px;
  }
}

.footer {
  background-color: #686868;
  height: 200px;
}

.list_link {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0;
}
@media (min-width: 960px) {
  .list_link {
    padding: 120px 20px 0 10px;
    gap: 5px;
  }
}

.link_container {
}
.first_link {
  margin-right: 35px;
}

.link_content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.link {
  color: bisque;
  text-decoration: none;
}
.second_link {
}
