.form {
  display: flex;
  gap: 20px;
}

.button:hover {
  background-color: red;
}
.button:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.inputContainer {
  width: 150px;
}

@media (min-width: 900px) {
  .inputContainer {
    width: 300px;
  }
}

.input:focus {
  outline: none;
}
.input {
  border: solid 1px;
  width: 100%;
  padding: 10px;
}
