body {
  margin: 0;
}
.header {
  background-color: #686868;
  height: 140px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 900px) {
  .header {
    flex-direction: row;
    justify-content: center;
  }
}

.headerOptions {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  background-color: #3333cc;
  color: white;
  width: 335px;
  border-radius: 5px;
  border: solid 2px;
}
@media (min-width: 900px) {
  .headerOptions {
    width: 100%;
    display: none;
  }
}

.highResolutionHeader {
  display: none;
}
@media (min-width: 900px) {
  .highResolutionHeader {
    width: 400px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
  }
}
.link {
  text-decoration: none;
  color: white;
}

.profile {
  font-size: 20px;
}
.home {
  margin-left: 10px;
  font-size: 20px;
}
@media (min-width: 900px) {
  .home {
    margin-left: 50px;
  }
}

.cart {
  font-size: 20px;
  margin-right: 10px;
}
@media (min-width: 900px) {
  .cart {
    margin-right: 50px;
  }
}

.footer {
  background-color: #686868;
  height: 125px;
}
