.mainContainer {
  margin-bottom: 25px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .cardsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
