.container {
  height: 80vh;
}

.formContainer {
  margin-top: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.form {
}
.inputContainerStyle {
  width: 250px;
}
.inputStyle:focus {
  outline: none;
}
.inputStyle {
  width: 100%;
  padding: 10px;
}
.passwordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.button:hover {
  background-color: red;
}
.button {
  cursor: pointer;
}
.linkStyle {
  text-decoration: none;
  color: #3333cc;
}
