.ul {
  display: flex;
  gap: 40px;
}
@media (max-width: 900px) {
  .ul {
    padding: 10px;
    background-color: #686868;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    border-top: solid 2px #3333cc;
  }
}
.li {
  list-style: none;
}

.a {
  border-bottom: solid 2px #3333cc;
  text-decoration: none;
  color: bisque;
}
@media (min-width: 900px) {
  .a {
    border-bottom: none;
    margin-left: 35px;
  }
  .a:hover {
    color: black;
    transition: color 1s ease;
  }
}
